<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kh.shipcontrol.report">

	<!-- 회원등록 -->
	<insert id="registReport">
		insert into acd_tb(acd_id,
		acd_code_id,
		acd_latitude,
		acd_longitude, acd_date, acd_remark,
		acd_take, sh_id)
		values(SEQ_ACD_ID.nextval, #{acd_code_id},
		#{acd_latitude},#{acd_longitude},#{acd_date}, null, '신고접수', #{sh_id})
	</insert>

	<select id="getAcdCode" resultType="AcdCodeVo">
		select * from acd_code_tb
	</select>

	<select id="getWholeAcd" resultType="AcdVo">
		select * from
		(select rownum as rn, a.* from
		(select * from acd_tb order
		by acd_date desc)a
		where rownum <![CDATA[<=]]>
		#{endLine})
		where rn <![CDATA[>=]]>
		#{startLine}

	</select>

	<select id="getAcdById" resultType="AcdVo">
		select * from acd_tb where
		acd_id = #{acd_id}
	</select>

	<insert id="addAcdHnd">
		insert into acd_hnd_tb (acd_hnd_id, acd_id,
		acd_hnd_content, acd_hnd_date,
		acd_hnd_take)
		values(seq_acd_hnd.nextval, #{acd_id}, #{acd_hnd_content}, sysdate+1,
		#{acd_hnd_take} )
	</insert>

	<select id="getAcdHnd" resultType="AcdHndVo">
		select * from acd_hnd_tb where
		acd_id = #{acd_id} order by acd_hnd_date asc
	</select>


	<select id="getAcdListBySerachType" resultType="AcdVo">

		select * from
		acd_tb
		<choose>
			<when test='searchType == "사고 번호" '>where acd_id = #{searchWord}</when>
			<when test='searchType == "사고 코드" '>where acd_code_id = #{searchWord}</when>
		</choose>

	</select>

	<update id="updateAcdTake">
		update acd_tb
		set acd_take = #{acd_hnd_take}
		where
		acd_id = #{acd_id}
	</update>

	<select id="getAcdIdSeq" resultType="int">
		select SEQ_ACD_ID.nextval
		from dual
	</select>

	<select id="getReportCount" resultType="int">
		select count(*) from
		acd_tb
	</select>

	<update id="updateReportRun">
		update acd_tb set
		acd_code_id = #{acd_code_id},
		acd_latitude = #{acd_latitude},
		acd_longitude = #{acd_longitude},
		<!-- acd_date 추후 수정 -->
		sh_id = #{sh_id}
		where acd_id = #{acd_id}
	</update>


</mapper>